﻿.border-bottom {
    border-bottom: 1px solid #e0e0e0;
}

.mgl20 {
    margin-left: 20px;
}

.font-size12 {
    font-size: 12pt;
}

.pd10 {
    padding: 10px;
}

.pdlf10 {
    padding: 0 10px;
}

.w100 {
    width: 100%;
}
.w50{
    width: 50%;
}
.w60{
    width: 60%;
}
.w70{
    width: 70%;
}
.w80{
    width: 80%;
}
.w90{
    width: 90%;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.icon-Social {
    height: 30px;
}

.icon-facebook {
    color: #3b5998;
}

.icon-google-plus {
    color: #dc4a38;
}

.icon-twitter {
    color: #1ab2e8;
}

.btn-color-default {
    background-color: #2673b4 !important;
    color:#fff;
}

.no-border {
    border: none !important;
}

.text-bold {
    font-weight: bold;
}

.color-default {
    color: #6098C8;
}

.opacity05 {
    opacity: 0.5;
}

.opacity07 {
    opacity: 0.7;
}

.opacity08 {
    /*opacity: 0.8;*/
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: Helvetica, Arial, Tahoma, sans-serif;*/
}
/*p{
    font-size: 12pt;
}*/
body {
    font-family: 'Segoe UI';
        /*font-family: 'Segoe UI Light' !important;*/
    /*font-size: 12pt;*/
}

.pdl20 {
    padding-left: 20px;
}
.pdl25 {
    padding-left: 25px;
}
.pdr20 {
    padding-right: 20px;
}

.pdr10 {
    padding-right: 10px;
}

.mgt5 {
    margin-top: 15px;
}

.pad-left-16-px {
    padding-left: 16px;
}

.radius-20 {
    border-radius: 20px;
}

.radius-10 {
    border-radius: 10px;
}

.radius-5 {
    border-radius: 5px;
}

.background-color-default-2 {
    background-color: #f7f5f6;
}

.background-color-default {
    background-color: #6098C8;
}

.bottom{
    vertical-align: bottom;
}

.pdt10{
    padding-top:10px;
}
.pdt5{
    padding-top:5px;
}
.pdbottom20{
    padding-bottom: 20px;
}
.pdbottom10{
    padding-bottom: 10px;
}
.mgbottom20{
    margin-bottom: 20px;
}
.font-size16{
    font-size: 16pt !important;
}
.btn-smal{
    border: 1px solid transparent;
}
input[readonly] {
    color: #939192;
     background: #ffffff !important; 
    cursor: default;
}.placeholderkd{
     margin-left: 5px;
 }
 .wt-loading{
     background-color: transparent;
    background-image: url('../Content/images/waiting/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        background-color: rgba(0,0,0,0.2);
 }
.wt-waiting {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
    position: static;
    background-color: transparent;
    /*background-image: url('../icon/waiting/ripple.svg');*/
    background-image: url('../Content/images/waiting/ripple.svg');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
}

    .wt-waiting.wt-fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        background-color: rgba(0,0,0,0.2);
    }

    .wt-waiting.wt-absolute {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        background-color: rgba(0,0,0,0.2);
    }

    /*32x32*/
    .wt-waiting.wt-medium {
        background-size: 32px 32px;
    }
    /*48x48*/
    .wt-waiting.wt-large {
        background-size: 48px 48px;
    }
img{
    max-width: 100%;
}
.require{color:red}
.bg-text-color{
        color:#6098C8;
    }
.k-i-seek-e, .k-i-arrow-e{margin-top:3px;margin-left:2px}
.k-i-seek-w, .k-i-arrow-w{margin-top:3px;margin-right:2px}